.register-container{
    text-align: center;
    display: inline-block;
    margin:5px auto;
    padding:10px 15px;
    background: aliceblue;
}
.register-container p{
    font-size: 24px;
    font-weight: 600;
}
.register-container form div input{
    font-size: 16px;
    padding:5px;
    margin:5px
}
.signIn-Container{
    padding-top:10px;
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
}
.invalid-input{
    font-size: 10px;
    color:red;
}
.btn-register-submit{
    font-weight: 400;
    font-size: 14px;
    padding:5px 10px;
    background: #b1cbdd;
    margin: 10px;
    border: none;
}