.container{
    width: 100%;
    background: #fff;;
    color:#3c4859;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    border-bottom: solid 0.5px rgb(148, 147, 147)
    /* text-transform: uppercase; */
}
.container::after{
    content: '';
    display: table;
    clear: both;

}

.top-left-navbar{
  float:left;
  margin:2px auto;
}

.top-left-navbar ul{
    margin:0px 0px 0px 5px ;
    padding: 2px 2px;
    list-style: none;
}

.top-left-navbar ul li:hover{
    color:#000;
}
.top-left-navbar ul li {
    display: inline-block;
    position: relative;
    margin: 5px 5px;
    padding:5px;
}
.top-left-navbar ul li a{
    text-decoration: none;
    color:rgba(68, 67, 67, 0.945);
}

.top-left-navbar ul li:hover{
    color:#000;
    background: rgb(201, 199, 199);
}


/* .top-left-navbar ul li::before {
    content: '';
    display: block;
    height: 2px;
    background-color: #444;
  
    position: absolute;
    bottom: -5px;
    width: 0%;
  
    transition: all ease-in-out 300ms;
}




.top-left-navbar ul li:hover::before{
    width: 100%;
} */

.top-right-auth-button{
    float:right;
    margin:2px auto;
}

.top-right-auth-button ul{
    margin:0px 5px 0px 0px;
    padding: 2px 2px;
    list-style: none;
    
}
.top-right-auth-button ul li {
    display: inline-block;
    padding:5px 8px;
    margin: 5px 8px;
    text-transform: none;
    font-weight: 400;
}

.top-right-auth-button ul li a{
    text-decoration: none;
    color:rgba(68, 67, 67, 0.945);
    
}
.top-right-auth-button ul li:hover{
    color:#000;
    background: rgb(201, 199, 199);

}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-main{
    border: none;
}
.dropdown-sub{
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left:0px;
    font-size: 12px;
}
.dropdown-sub a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-sub a:hover {background-color: rgb(201, 199, 199);}

.dropdown:hover .dropdown-sub {display: block;}

