.container{
    width: 100%;
    background: #b1cbdd;;
    color:#3c4859;
    margin: 0 auto;
    font-weight: 600;
    font-size: 14px;
    border-bottom: solid 1px #000
    /* text-transform: uppercase; */
}
.container::after{
    content: '';
    display: table;
    clear: both;

}

.top-left-navbar{
  float:left;
  margin:2px auto;
}

.top-left-navbar ul{
    margin:0px 0px 0px 5px ;
    padding: 0;
    list-style: none;
}

.top-left-navbar ul li:hover{
    color:#000;
}
.top-left-navbar ul li {
    display: inline-block;
    /* padding:0 auto; */
    position: relative;
    margin: 5px 5px;
    padding:5px;
}
.top-left-navbar ul li a{
    text-decoration: none;
    
    color:rgba(68, 67, 67, 0.945);
}


.apps-menu-app{
    visibility: hidden; /* hides sub-menu*/
    opacity: 0; 
    position: absolute;
    top:100%;
    left:-10px;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.apps-menu:focus .apps-menu-app,
.apps-menu:focus-within .apps-menu-app,
.apps-menu:hover .apps-menu-app{ 
    background: #b1cbdd;
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0.1s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}
.apps-menu:hover .apps-menu-app li a{ 
    color:#000;
}


.top-left-navbar ul li::before {
    content: '';
    display: block;
    height: 2px;
    background-color: #444;
  
    position: absolute;
    bottom: -5px;
    width: 0%;
  
    transition: all ease-in-out 300ms;
}

.top-left-navbar ul li a:hover{
    color:#000;
}


.top-left-navbar ul li:hover::before{
    width: 100%;
}

.top-right-auth-button{
    float:right;
    margin:2px auto;
}

.top-right-auth-button ul{
    margin:0px 5px 0px 0px;
    padding: 0;
    list-style: none;
    
}
.top-right-auth-button ul li {
    display: inline-block;
    padding:0px auto;
    position: relative;
    margin: 5px 5px;
    text-transform: none;
    font-weight: 400;
}

.top-right-auth-button ul li:nth-child(1){
    border-right:0.5px solid #000;
    padding:5px;
    margin-right:0px;
}

.top-right-auth-button ul li a{
    text-decoration: none;
    color:rgba(68, 67, 67, 0.945);
    
}
.top-right-auth-button ul li a:hover{
    color:#000;
}