.dashboard div{
    display: inline-block;
    
}
.dashboard-tabs{
    margin: 5px 0px;
    float: left;
   
}
.dashboard-tabs ul li{
    list-style: none;
    margin-right:0px;
    text-align: center;
    padding: 10px 0px;
    border-right: 1px solid black
}
.dashboard-tabs ul li a{
 text-decoration: none;
 font-weight: 400;
 color:black;
}
.dashboard-tabs ul li:hover{
    color:white;
    background: grey;
}
.dashboard-tabs-selected{
    background:grey;
    color: white;
    
}
.dashboard-tabs ul{
    margin: 2px 2px;
    width: 100px;
    padding:2px 0px;
    
}
.dashboard-users{
    margin: 5px 0px;
    float: left;
}
.dashboard-users div{
    display: block;
}
.dashboard-users-button{
    /* border-bottom: 1px grey solid; */
    padding: 5px 5px;
}

.dashboard-users-button button{
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    padding:5px 10px;
    background: grey;
    color:white;
    margin-right: 10px;
    border: none;
}
.dashboard-users-content{
    padding: 5px 5px;
}