.dashboard div{
    display: inline-block;
}
.dashboard-tabs{
    display: block;
    margin: 5px 0px;
}
.dashboard-tabs ul li{
    list-style: none;
    margin-right:0px;
    text-align: center;
    padding: 10px 0px;
    border-right: 1px solid black
}
.dashboard-tabs ul li a{
 text-decoration: none;
 font-weight: 400;
 color:black;
}
.dashboard-tabs ul li:hover{
    color:white;
    background: grey;
}
.dashboard-tabs-selected{
    background:grey;
    color: white;
    
}
.dashboard-tabs ul{
    margin: 2px 2px;
    width: 100px;
    padding:2px 0px;
    
}