.calendar-main{
    display: block;
}
.calendar{
    margin: 2px auto;
    border: 1px black solid;
    position:absolute;
    z-index: 1;
    background:white;
}
.calendar-head{
    border-bottom: 1px grey solid;
    padding: 5px 5px;
    text-align: center;
}

.btn-cal-prev{
    width: 20%;
    border:none;
    background: white;
}
.btn-cal-now{
    border:none;
    width: 20%;
    background: white;
}
.btn-cal-next{
    
    width: 20%;
    border:none;
    background: white;
}
.btn-cal-year{
    width: 20%;
    text-align: center;
    border: none;
}
.btn-cal-year select option{
    text-align: center;
}
.btn-cal-month{
    width: 20%;
    /* text-align: center; */
    border:none;
}
.calendar-dayNames button{
    width: 14.28%;
    padding:5px 13px;
    border:none;
    background: white;
    
}
.calendar-dayNames{
    margin:0px 0px;
    text-align: center;
    border-bottom: 1px solid grey;
}
.calendar-content div{
    text-align:center;
}
.calendar-content button{
    background:white;
    width: 14.28%;
    padding:13px;
    border:none;
}

.calendar-content button:hover{
    background:grey;
    color:white;

}
.calendar-content{
    display: block;
}