.userProfile{
    display: inline-block;
    height: 900px;
    margin:3px auto;
    width: 98%
}
.user{
    background: rgb(231, 230, 230);
    float: left;
    width: 19%;
    height: inherit;
    text-align: center;
}
.profile{
    float: left;
    width: 40%;
    height: inherit;
    overflow-y: scroll;
}
.extra{
    background: rgb(110, 109, 110);
    float: left;
    width: 40%;
    height: inherit;
    overflow: scroll;
}
.user_img img{
    padding:10px;
    border-radius: 50%;
}

.btn-profile-functions{
    padding:2px 2px;
}

.btn-profile-functions ul {
    list-style: none;
    padding-left: 5px;
    margin:2px 2px;
}
.btn-profile-functions ul li{
    display: inline-block;
}
.btn-profile-functions ul li button{
    
    font-weight: 400;
    font-size: 14px;
    padding:5px 10px;
    background: #b1cbdd;
    margin-right: 10px;
    border: none;
}

.profile-content{
    margin: 10px 0px;
}
.profile-content table{
    padding-left: 5px;
    margin: 2px 2px;
    font-size:14px;
}
.profile-content table tr{
    padding:2px 1px;
    margin-bottom: 2px;
}
.profile-content table tr td:first-child{
    font-weight: 400;
    color: black;
}
.profile-content-tableContent {
    font-size:14px;
    display: flex;
    margin:0px 0px 2px 0px;
    background: inherit;
    flex-direction: column;
}
.profile-content-tableContent input{
    border: none;
    background: inherit;
    font-size: 14px;   
}
.profile-content-tableContent small{
   color: black;
}
.profile-listItems{
    display: flex;
    padding: 0px;
}
.profile-listItems li{
    color: white;
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
    padding: 4px 6px;
    margin: 2px 4px;
    list-style: none;
}