.userProfile{
    display: inline-block;
    height: 900px;
    margin:3px auto;
    width: 98%
}
.user{
    background: rgb(231, 230, 230);
    float: left;
    width: 19%;
    height: inherit;
    border-right: 1px solid #b1cbdd;
    border-left:1px solid#b1cbdd;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.profile{
    float: left;
    width: 40%;
    height: inherit;
    overflow-y: scroll;
}
.extra{
    background: rgb(110, 109, 110);
    float: left;
    width: 40%;
    height: inherit;
    overflow: scroll;
}
.user_img img{
    padding:10px;
    border-radius: 50%;
    
}

.user{
    text-align: center;
}
.profile div{
    margin:10px auto;
    width: 30%;
    display: grid;
}
.profile div a{
    text-decoration: none;
    background: #b1cbdd;
    border: 1px solid grey;
    text-align: center;
    padding:3px 5px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400
}
.profile div a:hover{
    background: #b0d9f7;
}