.App {
    display: flex;
    color: rgba(189, 189, 192, 1);
    margin:0;
    background: #222;
    flex-direction: column
  }
  .App::after{
    content: '';
    display: table;
    clear: both;

}
.Footer{
  background:#55d6aa;
  color:rgba(68, 67, 67, 0.945);
  text-align: center;
}