.App {
    display: flex;
    color: #3c4859;
    margin:0;
    background: #ffffff;
    flex-direction: column
  }
  .App::after{
    content: '';
    display: table;
    clear: both;

}
.Footer{
  background:#ffffff;
  color:#3c4859;
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}